.hero {
  position: relative;
  min-height: 500px;

  display: flex;
  align-items: center;

  background-image: url("/images/excavatingMachine.png");
  background-size: cover;
  background-position: center;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  padding: 40px;
}

.badge {
  display: inline-block;

  padding: 10px 18px;

  border-radius: 999px;

  background: rgba(244, 180, 0, 0.15);

  border: 1px solid rgba(244, 180, 0, 0.4);

  color: #f4b400;

  font-size: 0.9rem;
  font-weight: 600;

  margin-bottom: 24px;
}

.content h1 {
  color: #ffffff;

  font-size: 3.5rem;
  font-weight: 800;

  line-height: 1.1;

  margin-bottom: 24px;

  max-width: 900px;
}

.content p {
  color: rgba(255, 255, 255, 0.9);

  font-size: 1.15rem;
  line-height: 1.4;

  max-width: 800px;

  margin-bottom: 20px;
}

.actions {
  margin-top: 40px;
}

.actions button {
  background: #f4b400;
  border: none;
  padding: 18px 34px;
  border-radius: 999px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

.actions button:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

@media (max-width: 1024px) {
  .content {
    margin-left: 0;
    padding: 24px;
  }

  .content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 600px;
  }

  .content h1 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 1rem;
  }
}
