.PaymentMethods {
  background-color: #1f1f22;
  padding: 40px 24px;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.IconWrapper {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #fff;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease;
}

.IconWrapper:hover {
  transform: translateY(-3px);
  background-color: #969594;
}

@media (max-width: 768px) {
  .PaymentMethods {
    padding: 60px 24px;
  }

  .container {
    flex-direction: column;
    gap: 50px;
  }

  .section h3 {
    font-size: 1.6rem;
  }
}
